body {
  margin: 10px;
  font-size: 18px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

audio {
  width: 100%;
}

.container {
  max-width: 700px;
}

.textInput {
  color: #4a4a4a;
  font-size: 18px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #727272;
  text-align: center;
  margin: 10px 0 40px;
}

.textInput:focus {
  outline-width: 0;
}